@charset "utf-8";

* {
    padding: 0;
    border: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
}

body {
    font-family: 'Montserrat', 'Noto Sans KR', sans-serif;
}

button {
    font-family: 'Montserrat', 'Noto Sans KR', sans-serif;
    background: none;
    outline: none;
    cursor: pointer;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

/*--------------------------------------*/

/* header */

header {
    padding: 1rem 1.5rem;
    max-width: 750px;
    margin: auto;
}

.title {
    font-weight: 800;
    font-size: 5rem;
    font-family: 'Black Han Sans', sans-serif;
}

.subtitle {
    font-size: 2rem;
    font-family: 'Yeon Sung', cursive;
}

.is-sparta {
    color: #f2d30a !important;
}


/* nav */

nav {
    padding: 32px 0;
    max-width: 900px;
    margin: 0 auto;
}
nav ol{
    float: left;
}
.nav_menu {
    display: inline-block;
}

.nav_btn {
    border: 1px solid #888888;
    padding: 10px 20px;
    margin-right: 30px;
    font-size: 16px;
}

.nav_btn:hover {
    border: rgba(240, 178, 10, 0.5);
    color: #fff;
}
.hover1:hover {
    box-shadow: 200px 0 0 0 rgba(240, 178, 10, 0.5) inset;
}

.logoutbox {
    float: right;
}
.logout {
    background-color: #EDB118;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 16px;
    color: #ffffff;
}

.logout:hover {
    color: #fff;
}

.hover2:hover {
    box-shadow: -200px 0 0 0 rgba(0, 0, 0, 0.5) inset;
}


/* main */

.burgers {
    max-width: 1024px;
    margin: 0 auto;
}

.burger_wrap {
    display: grid;
    grid-template-columns: 2fr 10fr 3fr;
    margin: 60px 0;
}

.burger_rank {
    font-size: 28px;
    text-align: center;
}

.burger_rank i {
    border-bottom: 2px solid #888888;
}

.burger_img {
    box-sizing: border-box;
    width: 40%;
    float: left;
}

.burger_img img {
    width: 100%;
}

.sub_wrap {
    box-sizing: border-box;
    padding: 4px 0 0 30px;
    width: 60%;
    word-break: keep-all;
    float: left;
}

.burger_brand, .burger_name, .burger_sub {
    margin: 10px 0;
}
.burger_brand{
    font-style: italic;
}
.burger_name{
    font-size: 20px;
    font-weight: 700;
}

.review_write {
    text-align: center;
    width: 100%;
    float: left;
}

.review_btn {
    padding: 10px 20px;
    margin: 20px 0;
    background-color: #EDB118;
    color: #ffffff;
}

.review_btn:hover {
    color: #fff;
}

.hover4:hover {
    box-shadow:  -200px 0 0 0 #EDB118 inset;
    /*200px 0 0 0 rgba(18, 42, 220, 0.25) inset,*/
}


.review_wrap {
    display: none;
    text-align: left;
    padding: 20px;
}

.review {
    font-size: 16px;
    font-weight: bold;
}

.review_list_wrap {
    padding: 10px 0;
}

.review_list {
    padding: 8px 0;
    word-break: break-all;
}

.review_icon_wrap{
    width: 25px;
    float: left;
}
.review_main_wrap{
    width: 85%;
    float: left;
}

.review_user {
    display: inline-block;
    padding-left: 6px;
    font-size: 12px;
    color: #666666;
}

.btn_wrap {
    float: right;
}

.review_delete_btn {
    color: #888888;
    padding: 4px 6px;
    border: 1px solid #666666;
}

.review_delete_btn:hover {
    color: #fff;
}

.hover5:hover {
    box-shadow: 200px 0 0 0 rgba(0, 0, 0, 0.5) inset;

}

.review_text {
    width: 100%;
    border-top: 1px solid #bdbdbd;
    border-bottom: 1px solid #bdbdbd;
    padding: 20px;
}

.review_complete_wrap{
    text-align: center;
}
.review_complete {
    padding: 10px 20px;
    margin: 20px 0;
    border: 2px solid #EDB118;
    color: #888888;
}

.review_complete:hover {
    color: #fff;
}

.hover7:hover {
    box-shadow: 200px 0 0 0 #EDB118 inset;
}

.like_wrap {
    text-align: center;
}

.like {
    display: inline-block;
    border: 2px solid rgba(240, 178, 10, 0.5);
    font-size: 14px;
    border-radius: 10px;
    padding: 10px 25px;
    margin-top: 10px;
}
.like_icon, .like_count{
    color: #666666;
}
.like_count{
    font-weight: bold;
}

.like:hover {
    color: #fff;
}

.hover3:hover {
    box-shadow:  0 -80px 0 0 rgba(240, 178, 10, 0.5) inset;
}

.comment {
    color: red;
    font-size: 13px;
}