<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>

        <!--CSS-->
        <link rel="stylesheet" href="../static/index.css">

        <!--JS-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
                integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                crossorigin="anonymous"></script>

        <script>
            <!--리뷰 버튼 토글-->
            function reviewBtn(num) {
                if ($('#review_box'+ num).css('display') === 'block') {
                    $('#review_box'+ num).hide();
                    $(`#review_btn_box`+ num).text('리뷰 보기');
                } else {
                    $('#review_box'+ num).show();
                    $('#review_btn_box'+ num).text('리뷰 닫기');
                }
            }

            // API
            $(document).ready(function () {
                showBurgers();
            });

            function showBurgers() {
                $('#burger_box').empty();

                $.ajax({
                    type: 'GET',
                    url: '/mainpage',
                    data: {},
                    success: function (response) {
                        if (response['result'] == 'success') {
                            let burgers = response['all_burgers']
                            for(let i=0; i<burgers.length;i++){
                                let num = i+1;
                                let brand = burgers[i].brand;
                                let name = burgers[i].name;
                                let img = burgers[i].img_url;
                                let status = burgers[i].status;
                                let like = burgers[i].like;

                                let temp_html = `<div class="burger_wrap" id="burger_box">
                                                    <div class="burger_rank"><i>${num}</i></div>
                                                    <div class="burger_desc clearfix">
                                                        <div class="burger_img"><img src="${img}" alt=""></div>
                                                        <div class="sub_wrap">
                                                            <p class="burger_brand">${brand}</p>
                                                            <p class="burger_name">${name}</p>
                                                            <p class="burger_sub">${status}</p>
                                                        </div>
                                                        <div class="review_write">
                                                            <button onclick="reviewBtn(${num})" class="review_btn" id="review_btn_box${num}">리뷰 보기</button>
                                                            <div class="review_wrap" id="review_box${num}">
                                                                <p class="review">REVIEW</p>
                                                                <ul class="review_list_wrap">
                                                                    <li class="review_list">맛있음</li>
                                                                    <li class="review_list">나쁘지않음</li>
                                                                </ul>
                                                                <textarea class="review_text" id="review_comment" cols="30" rows="5" placeholder="리뷰를 입력하세요"></textarea>
                                                                <button onclick="comment()" class="review_complete" id="review_complete_btn">리뷰 등록</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="like_wrap">
                                                        <a href="#" onclick="like('${name}')" class="like">좋아요 <span><b>${like}</b></span></a>
                                                    </div>
                                                </div>`
                                $('#burgers_box').append(temp_html);
                            }
                        }
                    }
                });
            }

            // 리뷰 작성
            function comment() {
                let review = $('#review_comment').val();

                $.ajax({
                    type: 'POST',
                    url: '/comment',
                    data: {comment_give:review},
                    success: function (response) {
                        if (response['result'] == 'success') {
                            alert('리뷰작성 완료');
                            window.location.reload();
                        }
                    }
                });
            }

            // 좋아요
            function like(name) {
                $.ajax({
                    type: 'POST',
                    url: '/like',
                    data: {'name_give':name},
                    success: function (response) {
                        if (response['result'] == 'success') {
                            alert('좋아요 완료');
                            window.location.reload();
                        }
                    }
                });
            }

        </script>
    </head>
    <body>
        <header>
            <a href="" class="title">BURGER RANKING</a>
        </header>
        <nav>
            <ol>
                <li class="nav_menu">
                    <button class="nav_btn on">ALL</button>
                </li>
                <li class="nav_menu">
                    <button class="nav_btn">McDonald</button>
                </li>
                <li class="nav_menu">
                    <button class="nav_btn">BURGER KING</button>
                </li>
                <li class="nav_menu">
                    <button class="nav_btn">LOTTERIA</button>
                </li>
            </ol>
        </nav>
        <div class="burgers" id="burgers_box">
<!--            <div class="burger_wrap" id="burger_box">-->
<!--                <div class="burger_rank"><i>1</i></div>-->
<!--                <div class="burger_desc clearfix">-->
<!--                    <div class="burger_img"><img src="../static/burger.png" alt=""></div>-->
<!--                    <div class="sub_wrap">-->
<!--                        <p class="burger_brand">맥도날드</p>-->
<!--                        <p class="burger_name">빅맥</p>-->
<!--                        <p class="burger_sub">100% 순 쇠고기 패티 두 장에 빅맥®만의 특별한 소스. 입안에서 살살 녹는 치즈와 신선한 양상추, 양파, 그리고 피클까지. 50년-->
<!--                            넘게 전 세계인의 입맛을 사로 잡은 버거의 대명사.</p>-->
<!--                    </div>-->
<!--                    <div class="review_write">-->
<!--                        <button onclick="reviewBtn()" class="review_btn" id="review_btn_box">REVIEW OPEN</button>-->
<!--                        <div class="review_wrap" id="review_box">-->
<!--                            <p class="review">REVIEW</p>-->
<!--                            <ul class="review_list_wrap">-->
<!--                                <li class="review_list">맛있음</li>-->
<!--                                <li class="review_list">나쁘지않음</li>-->
<!--                            </ul>-->
<!--                            <textarea class="review_text" id="" cols="30" rows="5" placeholder="리뷰를 입력하세요"></textarea>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="like_wrap">-->
<!--                    <button type="button" class="like">좋아요 <span><b>10</b></span></button>-->
<!--                </div>-->
<!--            </div>-->
        </div>
    </body>
</html>