<!doctype html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>버거랭킹</title>

        <!-- Bulma CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">

        <!--CSS-->
        <link rel="stylesheet" href="/static/index.css">


        <!--FONT-->
        <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Yeon+Sung&display=swap"
              rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">


        <!--ICON-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <!--JS-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
                integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                crossorigin="anonymous">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js">
        </script>

        <script>
            <!--리뷰 버튼 토글-->
            function reviewBtn(num, burgerId) {
                if ($('#review_box' + num).css('display') === 'block') {
                    $('#review_box' + num).hide();
                    $(`#review_btn_box` + num).text('리뷰 보기');
                    $('#review_list_box' + burgerId).empty();
                } else {
                    $('#review_box' + num).show();
                    $('#review_btn_box' + num).text('리뷰 닫기');
                    console.log(burgerId);
                    getComment(burgerId);
                }
            }

            // API
            let brandName;
            let user_info = '{{user_info}}'
            console.log(user_info)
            $(document).ready(function () {
                showBurgers(brandName);
            });

            function showBurgers(string) {
                if (String !== undefined)
                    brandName = string
                $('#burgers_box').empty();
                $.ajax({
                    type: 'GET',
                    url: '/mainpage',
                    data: {type: string},
                    success: function (response) {
                        if (response['result'] == 'success') {
                            let burgers = response['all_burgers']
                            for (let i = 0; i < burgers.length; i++) {
                                let num = i + 1;
                                let brand = burgers[i].brand;
                                let name = burgers[i].name;
                                let img = burgers[i].img_url;
                                let status = burgers[i].status;
                                let like = burgers[i].like;
                                let burgerId = burgers[i].burger_id;
                                let temp_html = `<div class="burger_wrap" id="burger_box">
                                                        <div class="burger_rank"><i>${num}</i></div>
                                                        <div class="burger_desc clearfix">
                                                            <div class="burger_img"><img src="${img}" alt=""></div>
                                                            <div class="sub_wrap">
                                                                <p class="burger_brand">${brand}</p>
                                                                <p class="burger_name">${name}</p>
                                                                <p class="burger_sub">${status}</p>
                                                            </div>
                                                            <div class="review_write">
                                                                <button onclick="reviewBtn(${num},${burgerId})" class="review_btn hover4" id="review_btn_box${num}">리뷰 보기</button>
                                                                <div class="review_wrap" id="review_box${num}">
                                                                    <p class="review">REVIEW</p>
                                                                    <ul class="review_list_wrap" id="review_list_box${burgerId}">

                                                                    </ul>
                                                                    <textarea class="review_text" id="review_comment${num}" cols="30" rows="5" placeholder="리뷰를 입력하세요"></textarea>
                                                                    <p id="comment-id${num}"></p>
                                                                    <div class="review_complete_wrap">
                                                                        <button onclick="comment(${num}, ${burgerId})" class="review_complete hover7" id="review_complete_btn">리뷰 등록</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="like_wrap">
                                                            <a href="#" onclick="like('${name}')" class="like hover3">
                                                                <span class="like_icon material-icons">
                                                                    favorite_border
                                                                </span>
                                                                <br>
                                                                <span class="like_count">${like}</span>
                                                            </a>
                                                        </div>
                                                    </div>`
                                $('#burgers_box').append(temp_html);
                            }
                        }
                    }
                });
            }

            //아이디 마스킹
            function maskingUser(user) {
                let masked = user.replace(/(?<=.{4})./gi, "*");
                return masked
            }

            //리뷰 불러오기
            function getComment(number) {
                $.ajax({
                    type: 'GET',
                    url: '/get_comment',
                    data: {burgerComment: number},
                    success: function (response) {
                        if (response['result'] == 'success') {
                            let commentList = response['commentList']
                            console.log(commentList);
                            for (let i = 0; i < commentList.length; i++) {
                                let commentid = commentList[i]._id
                                let burgerid = commentList[i].burger_id
                                let comment = commentList[i].comment
                                let username = commentList[i].username
                                let username2 = commentList[i].username
                                if (username2 !== undefined) {
                                    username = maskingUser(username2)
                                }
                                if (username2 == '{{user_info}}') {
                                    let temp_html = ` <li class="review_list">
                                                        <div class="review_div clearfix">
                                                            <div class="review_icon_wrap">
                                                                <span class="review_icon material-icons">
                                                                    arrow_right
                                                                </span>
                                                            </div>
                                                            <div class="review_main_wrap">
                                                                <span id="review_comment${username}">${comment}</span>
                                                                <span class="review_user">${username}</span>
                                                            </div>
                                                                <div id="review_btn_box${username}" class="btn_wrap">
                                                                <button onclick="reviewDelete('${commentid}')" class="review_delete_btn hover5" >삭제</button>
                                                            </div>
                                                        </div>
                                                    </li>`
                                    $('#review_list_box' + burgerid).append(temp_html)
                                } else {
                                    let temp_html = ` <li class="review_list">
                                                        <div class="review_div clearfix">
                                                            <div class="review_icon_wrap">
                                                                <span class="review_icon material-icons">
                                                                    arrow_right
                                                                </span>
                                                            </div>
                                                            <div class="review_main_wrap">
                                                                <span id="review_comment${username}">${comment}</span>
                                                                <span class="review_user">${username}</span>
                                                            </div>
                                                        </div>
                                                    </li>`
                                    $('#review_list_box' + burgerid).append(temp_html);
                                }


                            }
                        }
                    }
                });
            }

            // 리뷰 작성
            function comment(Num, BurgerId) {
                let burgerId = BurgerId;
                let review = $('#review_comment' + Num).val();

                if (review == "") {
                    $("#comment-id" + Num).text("리뷰를 입력해주세요").addClass("comment");
                    $("#review_comment" + Num).focus();
                    return;
                }
                $.ajax({
                    type: 'POST',
                    url: '/comment',
                    data: {comment_give: review, burgerId: burgerId, username: user_info},
                    success: function (response) {
                        if (response['result'] == 'success') {
                            alert('리뷰작성 완료');
                            showBurgers(brandName);
                        }
                    }
                });
            }


            // 리뷰 삭제
            function reviewDelete(commentid) {

                $.ajax({
                    type: 'POST',
                    url: '/comment_delete',
                    data: {comment_give: commentid},
                    success: function (response) {
                        if (response['result'] == 'success') {
                            alert('리뷰를 삭제했습니다.')
                            showBurgers(brandName);
                        }
                    }
                });
            }

            // 좋아요
            function like(name) {
                $.ajax({
                    type: 'POST',
                    url: '/like',
                    data: {'name_give': name},
                    success: function (response) {
                        if (response['result'] == 'success') {
                            alert('좋아요 완료');
                            showBurgers(brandName);
                        }
                    }
                });
            }


            function sign_out() {
                $.removeCookie('mytoken', {path: '/'});
                alert('로그아웃!')
                window.location.href = "/login"
            }
        </script>
    </head>

    <body>
        <header class="hero is-white">
            <div class="hero-body has-text-centered" style="padding-bottom:1rem;margin:auto;">
                <h1 class="title is-sparta">버거랭킹</h1>
                <h3 class="subtitle is-sparta">당신의 버거를 선택하세요</h3>

            </div>
        </header>
        <nav class="clearfix">
            <ol>
                <li class="nav_menu">
                    <button class="nav_btn hover1" onclick="window.location.reload()">ALL</button>
                </li>
                <li class="nav_menu">
                    <button class="nav_btn hover1" onclick="showBurgers('McDonald')">McDonald</button>
                </li>
                <li class="nav_menu">
                    <button class="nav_btn hover1" onclick="showBurgers('BURGER KING')">BURGER KING</button>
                </li>
                <li class="nav_menu">
                    <button class="nav_btn hover1" onclick="showBurgers('LOTTERIA')">LOTTERIA</button>
                </li>
            </ol>
            <div class="logoutbox">
                <button onclick="sign_out()" class="logout hover2">LOGOUT</button>
            </div>
        </nav>
        <div class="burgers" id="burgers_box">
            <!-- 추가 될 내용-->
        </div>
    </body>
</html>